﻿@model MusicStoreMvc.Web.Models.Genre
@*@model PagedList.IPagedList<MusicStoreMvc.Web.Models.Album>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />*@



@{
    ViewBag.Title = "Browse Albums";
}

<div class="col-md-8">
    <h3><em>@Model.Name</em> Albums</h3>
    <div class="clearfix"></div>
    <div class="container">
        <div class="clearfix"></div>
        <div class="row">
            @foreach (var album in Model.Albums)
            {
               
                <div class="jumbotron col-md-4" style="list-style: none">
                    <a href="@Url.Action("Detail", new { id = album.AlbumId })">
                        <img alt="@album.Title" src="@album.AlbumArtUrl" class="img-responsive" />
                        <br />
                        <p class="text-center">@album.Title</p>
                    </a>
                </div>
                if ((album.AlbumId % 3 == 0))
                {
                   <div class="clearfix"></div>
                    <div class="row">
                        <hr />
                    </div>
                }
            }
        </div>
    </div>
</div>
@*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))*@