﻿@model IEnumerable<MusicStoreMvc.Web.Models.Album>

@{
    ViewBag.Title = "BrowseAlbum";
}

<h2>BrowseAlbum</h2>

<div>
    @using (Html.BeginForm())
    {
       <p>
            Genre: @Html.DropDownList("genre", (IEnumerable<SelectListItem>)ViewBag.Genre, "--Genre--", new { htmlAttributes = new { @class = "form-control" } })
            Find by name: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
    }

</div>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 text-center">
                <a href="@Url.Action("Detail", new { id = item.AlbumId })">
                    <img src="@item.AlbumArtUrl" class="img-circle img-responsive" />
                </a>
                    <p class="text-center text-warning">
                        @item.Title<br />
                        By: @item.Artist.Name <br />
                        Genre : @item.Genre.Name <br />
                        <span class="btn btn-default">
                            @Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { id = item.AlbumId }, "")
                        </span>
                    </p>
                    
            </div>
          }
    </div>
</div>
