﻿@model MusicStoreMvc.Web.Models.Album

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<div>
    <h4>Album</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Artist.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artist.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlbumArtUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlbumArtUrl)
        </dd>

    </dl>
</div>
<p>
    <p class="btn btn-info">
        @Html.ActionLink("Add to cart", "AddToCart","ShoppingCart", new { id = Model.AlbumId }, "")
    </p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.AlbumId }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
