﻿@model IEnumerable<MusicStoreMvc.Web.Models.Genre>

@{
    ViewBag.Title = "Index";
}

<h2>Available Genre</h2>
<div class="col-md-3">
    @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@
    <table class="table table-responsive table-condensed table-hover">
        @*<tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
            </tr>*@

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="/Store/Browse?genre=@item.Name">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
            </tr>
        }

    </table>
</div>