﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Music Store</h1>
    <p class="lead">Music store created in MVC pattern</p>
</div>
<div class="container">
    <div class="row">
        @foreach (var album in Model)
        {
            <div class="col-sm-2">
                <a href="@Url.Action("Details", "Store",new { id = album.AlbumId })">
                    <img alt="@album.Title" src="@album.AlbumArtUrl" class="img-circle" />
                    <br />
                    <span>@album.Title</span>
                </a>
            </div>
        }
    </div>
</div>
